.header__lang-link {
    color: #f2f2f2;
    font-style: normal;
    list-style-type: none;
    line-height:28px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .header__lang-link { 
        line-height:20px;
        font-size: 18px;
    }
}