.place__title{
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    color: #f2f2f2;
    margin: 0;
}

@media screen and (max-width: 768px){
    .place__title{
        font-size: 42px;
        line-height: 46px;
        max-width: 330px;
     }
}

@media screen and (max-width: 500px){
    .place__title{ 
       max-width: 288px;
       font-size: 32px;
        line-height: 35px;
        padding-right: 16px;
        padding-left: 16px;
    }
}