.photo-grid__list {
    padding: 92px 0;
    margin: 0 auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
 }
 
 @media screen and (max-width: 1024px){
     .photo-grid__list {
         grid-template-columns: repeat(3, 1fr);
         gap: 14px;
         width: calc(100% - 2*48px);
     }
  }
 
  @media screen and (max-width: 768px){
     .photo-grid__list {
         grid-template-columns: repeat(2, 1fr);
         gap: 16px;
         width: calc(100% - 2*24px);
         padding-top: 88px;
         padding-bottom: 88px;
     }
  }
 
  @media screen and (max-width: 500px){
     .photo-grid__list{ 
         padding-top: 64px;
         padding-bottom: 64px;
         grid-template-columns: 1fr;
         gap: 12px;
         width: calc(100% - 2*16px);
     }
 }