.place__image{
    min-width: 460px;
    width: 40%;
    object-fit: cover;
   }
   
   @media screen and (max-width: 1024px){
       .place__image{
            min-width: 440px;
       }
   }
   
   @media screen and (max-width: 768px){
       .place__image{
          min-width: 340px;
       }
   }
   
   @media screen and (max-width: 500px){
       .place__image{ 
          min-width: 100%;
       }
   }