.intro__list {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #FFFFFF;
    text-align: start;
    max-width: 690px;
    margin: 0;
    padding: 33px 0 0 0;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .intro__list {
        width: 100%;
    }
 }
