.cover__subtitle{
    line-height: 22px;
    font-size: 18px;
    font-weight: normal;
    max-width: 360px;
    text-align: center;
    font-style:  normal;
    color: #FFFFFF;
    margin: 0 auto;
    z-index: 1;
}

@media screen and (max-width: 320px){
    .cover__subtitle {
         max-width: 288px;
         text-align: center;
         line-height: 16px;
         font-size: 14px;
         padding-bottom: 33px;
    }
}