.header__logo {
    background-image: url(../../../images/header-logo.svg);
    min-height: 52px;
    min-width: 176px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 320px){
    .header__logo{ 
       min-width: 142px;
       min-height: 42px;
      background-size: cover;
       
    }
}