.header{
    display: flex;
    padding: 28px 0 56px 0;
    align-items: center;
    margin: 0 48px;
    justify-content: space-between;   
}

@media screen and (max-width: 1200px){
    .header{ 
        padding-bottom: 48px;
     }
}

@media screen and (max-width: 768px){
    .header{ 
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 424px){
    .header{ 
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 16px;
       align-content: center;
    }
}