.place__paragraph{
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
    font-style:  normal;
    color: #FFFFFF; 
    }

    @media screen and (max-width: 768px){
        .place__paragraph{
            font-size: 16px;
            max-width: 352px;
         }
    }

    @media screen and (max-width: 500px){
        .place__paragraph{ 
           max-width: 288px;
           padding-left: 16px;
           padding-right: 16px;
           margin: 0;
        }
    }