.cover__title{
    max-width: 560px;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    font-style:  normal;
    color: #FFFFFF; 
    margin: 0 auto; 
    padding-bottom: 32px;
    z-index: 1;
}

@media screen and (max-width: 500px){
    .cover__title {
         max-width: 238px;
         line-height: 35px;
         font-size: 32px;
         padding-bottom: 16px;
         padding-top: 33px;
    }
}
