.place__website{
    max-width: 456px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: end;   
}

@media screen and (max-width: 500px){
    .place__website{ 
        padding-right: 16px;
        padding-left: 16px;
        max-width: 288px;
    }
}